
body {
    margin: 0;
    font-family: sans-serif; 
 }

.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 200px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .cards-slider-wrapper .card .details {
      opacity: 0;
      transition: opacity 150ms linear; }

.cards-slider.active-slide-0 #card-0 {
  
  opacity: 1;
  transform: scale(1);
  background-color: #fff;
  border-color: #fff;}
  .cards-slider.active-slide-0 #card-0 .details {
    opacity: 1; }

.cards-slider.active-slide-1 #card-1 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }
  .cards-slider.active-slide-1 #card-1 .details {
    opacity: 1; }

.cards-slider.active-slide-2 #card-2 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }
  .cards-slider.active-slide-2 #card-2 .details {
    opacity: 1; }



.col {
  height: 264px;
  position: relative; }
  .col:before, .col:after {
    content: '';
    display: block;
    width: 50%;
    height: 120%;
    background: linear-gradient(to right, white 15%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .col:after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, white 15%, rgba(255, 255, 255, 0) 100%); }

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto; 
}

.c-buttons {
    display: flex;
    justify-content: center;
}