.card {
    border: 3px #f3f3f3 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    cursor: pointer;
    background-color: #f3f3f3;
    padding: 10px;
    max-width: 220px;
    text-align: left;
    margin: 0 auto; 
}

.card:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
}

.card img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block; 
}
.card .price {
    margin: 0;
    padding: 10px 0;
    font-weight: bold; }
.card .details {
    position: relative; }


  